<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
 <div>
 	<form  method='POST' th:action="@{/}" th:object="${productEntityForm}">
 		<input type="text" id="name" class="form-control" th:field="*{name}" />
 		<input type="text" id="price" class="form-control" th:field="*{price}" />
 		<input type="text" id="description" class="form-control" th:field="*{description}" />
 		<input type="submit" value="Save" name="Save" />
 	</form>
 </div>
</body>
</html>